
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.row_2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.btn-main{
    display: inline-block;
    background: #210583;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn-main:hover{
    background-color: #bff7ae;
    font-weight: bold;
    color: #443e3e;
    padding: 8px 30px;

}
.col-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
