
*{
    margin: 0;
    padding: 0;
}
.main_1{
    width: 100%;
    background: linear-gradient(to top, rgba(12, 11, 11, 0.7)50%,rgba(9, 8, 8, 0.7)50%), url(sqliAttack.png);
    background-position: center;
    background-size: cover;
    height: 110vh;
   
}

.content_2_home{
position: absolute;
top: 120px;
left: 635px;
border-radius: 10px;
padding: 13px;
width: 649px;}

.content_1_home{
    width: 992px;
    height: auto;
    margin: auto;
    color: #efefed;
    position: relative;
    right: 100px;
    top: -40px;}

.content_1_home h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    margin-top: 116px;
}
.content_1_home span{
    color: #ff7200;
    font-size: 65px;
   margin-left: 50px;
}
.col-1{
    width: 754px;;
    height: auto;
    
    color: #efefed;
    position: relative;
    margin-bottom: 10px;}
.col-md-1{
    padding: 15px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 25px;
        color: #f1ee5f;
    background-color: #107a8d;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;}
.col-md-2{
    padding: 15px;
   font-family: Arial;
   letter-spacing: 1.2px;
   line-height: 25px;
   color: #f1ee5f;
   background-color: #af0a0a;
   border-radius: 10px;
   padding-bottom: 25px;
   margin-bottom: 10px;}
.col-md-3{
    padding: 15px;
   font-family: Arial;
   letter-spacing: 1.2px;
   line-height: 25px;
   color: #f1ee5f;
   background-color: #066713;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}
   .col-md-4{
    padding: 15px;
   font-family: Arial;
   letter-spacing: 1.2px;
   line-height: 25px;
   color: #f1ee5f;
   background-color: #6c0a67;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}
   .col-md-5{
    padding-left: 25px;
   font-family: Arial;
   letter-spacing: 1.2px;
   line-height: 25px;
   color: #f1ee5f;
   background-color: #443e3e;
    border-radius: 10px;
    padding-bottom: 25px;
}



.btn-main{
    display: inline-block;
    background: #210583;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn-main:hover{
    background-color: #bff7ae;
    font-weight: bold;
    color: #443e3e;
    padding: 8px 30px;

}
.col-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
